
nav ul {
	
	float: right;
}

img{
	
	height: 500px;
}


h2{
	
	font-size: 25px;
	padding: 20px 20px;
	
}
html, body { 
  margin:0; 
  padding:0; 
  height:100%; 
}
.card{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 20px 20px 20px 20px;
	
	
}
h5{
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}
.bootBrand{
	
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}
.page-title{
	
	
}
.row{
	
	background-color: #e9ecef;
}
p{
	font-family: 'Roboto', sans-serif;
}

input{
	
	margin-left: 15px;
}
.nav-style{
	
	background-color: #353fcc;
	
	
}
.jumbotron{
	
	height: 300px;
}

